.homeMain {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    min-height: 100vh;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
}